<h1 style="text-align:left;font-size:130%">
    Experimental Software Engineering
    <span style="float:right">
        2024/2025
    </span>
</h1>

# <center>**Gym Activity** </center>

### **<center> Realized by: </center>** 
<center> Hasan Çinar, Letícia Cascais</center>

In [40]:
import pandas as pd

In [41]:
#Import file
data = pd.read_csv('gym_activity.csv', sep = ',')

In [42]:
#First five rows of our Dataset
data.head()

,Age,Gender,Weight(kg),Height(m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration(hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake(liters),Workout_Frequency(days/week),Experience_Level,BMI
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39

In [43]:
#Number of workout types inside our Dataset
data['Workout_Type'].count()

973

In [44]:
#Data that we have in our Dataset and the type of them
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973 entries, 0 to 972
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Age                           973 non-null    int64
 1   Gender                        973 non-null    object
 2   Weight(kg)                    973 non-null    float64
 3   Height(m)                     973 non-null    float64
 4   Max_BPM                       973 non-null    int64
 5   Avg_BPM                       973 non-null    int64
 6   Resting_BPM                   973 non-null    int64
 7   Session_Duration(hours)       973 non-null    float64
 8   Calories_Burned               973 non-null    float64
 9   Workout_Type                  973 non-null    object
 10  Fat_Percentage                973 non-null    float64
 11  Water_Intake(liters)          973 non-null    float64
 12  Workout_Frequency(days/week)  973 non-null    int64
 13  Experience_Level              973 non-null    int64
 14  BMI                           973 non-null    float64
dtypes: float64(7), int64(6), object(2)
memory usage: 114.2+ KB

In [45]:
#Show all the columns in our Dataset
print(data.columns)

Index(['Age', 'Gender', 'Weight(kg)', 'Height(m)', 'Max_BPM', 'Avg_BPM',
       'Resting_BPM', 'Session_Duration(hours)', 'Calories_Burned',
       'Workout_Type', 'Fat_Percentage', 'Water_Intake(liters)',
       'Workout_Frequency(days/week)', 'Experience_Level', 'BMI'],
      dtype='object')

In [46]:
#Method to put the name of the columns in lowercase and remove the blank spaces
def clean_columns(col):
    col = col.strip()
    col = col.lower()
    return col

In [47]:
#Change the columns name
new_columns = []
for column in data.columns:
    cleaned_column = clean_columns(column)
    new_columns.append(cleaned_column.strip())

data.columns = new_columns

In [48]:
#Discover information about our Dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973 entries, 0 to 972
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           973 non-null    int64
 1   gender                        973 non-null    object
 2   weight(kg)                    973 non-null    float64
 3   height(m)                     973 non-null    float64
 4   max_bpm                       973 non-null    int64
 5   avg_bpm                       973 non-null    int64
 6   resting_bpm                   973 non-null    int64
 7   session_duration(hours)       973 non-null    float64
 8   calories_burned               973 non-null    float64
 9   workout_type                  973 non-null    object
 10  fat_percentage                973 non-null    float64
 11  water_intake(liters)          973 non-null    float64
 12  workout_frequency(days/week)  973 non-null    int64
 13  experience_level              973 non-null    int64
 14  bmi                           973 non-null    float64
dtypes: float64(7), int64(6), object(2)
memory usage: 114.2+ KB

In [49]:
#Print to know the null values
print(data.isnull().sum())

age                             0
gender                          0
weight(kg)                      0
height(m)                       0
max_bpm                         0
avg_bpm                         0
resting_bpm                     0
session_duration(hours)         0
calories_burned                 0
workout_type                    0
fat_percentage                  0
water_intake(liters)            0
workout_frequency(days/week)    0
experience_level                0
bmi                             0
dtype: int64

As shown above, in our Dataset we **don't have null values**.

## <center>Columns Name</center>

In [59]:
#Rename columns to indicate the unit of measurement
data.rename({"Age": "age"}, axis=1, inplace=True)
data.rename({"Gender": "gender"}, axis=1, inplace=True)
data.rename({"weight(kg)": "weight_kg"}, axis=1, inplace=True)
data.rename({"height(m)": "height_m"}, axis=1, inplace=True)
data.rename({"Max_BPM": "max_bpm"}, axis=1, inplace=True)
data.rename({"Avg_BPM": "avg_bpm"}, axis=1, inplace=True)
data.rename({"Resting_BPM": "resting_bpm"}, axis=1, inplace=True)
data.rename({"session_duration(hours)": "duration_h"}, axis=1, inplace=True)
data.rename({"Calories_Burned": "calories_burned"}, axis=1, inplace=True)
data.rename({"Workout_Type": "workout"}, axis=1, inplace=True)
data.rename({"Fat_Percentage": "fat_percentage"}, axis=1, inplace=True)
data.rename({"Workout_Type": "workout"}, axis=1, inplace=True)
data.rename({"Fat_Percentage": "fat_percentage"}, axis=1, inplace=True)
data.rename({"water_intake(liters)": "water_l"}, axis=1, inplace=True)
data.rename({"workout_frequency(days/week)": "workout_frequency_daysweek"}, axis=1, inplace=True)
data.rename({"Experience_Level": "experience_lever"}, axis=1, inplace=True)
data.rename({"BMI": "bmi"}, axis=1, inplace=True)

In [51]:
#Show all the columns with the names renamed
data.columns

Index(['age', 'gender', 'weight_kg', 'height_m', 'max_bpm', 'avg_bpm',
       'resting_bpm', 'duration_h', 'calories_burned', 'workout_type',
       'fat_percentage', 'water_l', 'workout_frequency_daysweek',
       'experience_level', 'bmi'],
      dtype='object')

Above we have **all the columns names** in our dataset.

In [56]:
#Show dtypes of each column
data.dtypes

age                             int32
gender                         object
weight_kg                     float64
height_m                      float64
max_bpm                         int64
avg_bpm                         int64
resting_bpm                     int64
duration_h                    float64
calories_burned               float64
workout_type                   object
fat_percentage                float64
water_l                       float64
workout_frequency_daysweek      int64
experience_level                int64
bmi                           float64
dtype: object

In [53]:
#Show age dtype
print("`age` dtype:", data["age"].dtype)

#Change dtype of the column age
data["age"] = data["age"].astype(int)

#Verifying if the change worked well
print("`age` dtype:", data["age"].dtype)

#Show all the columns with the dtypes changes
print(data.dtypes)

`age` dtype: int64
`age` dtype: int32
age                             int32
gender                         object
weight_kg                     float64
height_m                      float64
max_bpm                         int64
avg_bpm                         int64
resting_bpm                     int64
duration_h                    float64
calories_burned               float64
workout_type                   object
fat_percentage                float64
water_l                       float64
workout_frequency_daysweek      int64
experience_level                int64
bmi                           float64
dtype: object

In [58]:
#Print the workout types
unique_workout = data["workout_type"].unique()
print(unique_workout)

['Yoga' 'HIIT' 'Cardio' 'Strength']

Above we have **all the workout types** in our dataset.

In [55]:
#Code to export our cleaned Dataset
data.to_csv("gym_activity_cleaned.csv", index=False)